<div>
  <jhi-header [headerName]="'Certificate Details'" [shouldHaveHr]="true"> </jhi-header>
  <div class="container-fluid p-3">
    <jhi-alert-error></jhi-alert-error>

    <div *ngIf="certificateDetails">
      <dl class="row-md font-sm jh-entity-details">
        <div class="row">
          <div class="col-md-2">
            <dt><span jhiTranslate="bitsHrPayrollApp.educationDetails.employee">Employee</span></dt>
          </div>

          <div class="col-md-4">
            <dd>
              <div *ngIf="certificateDetails.certificateId">
                <a [routerLink]="['/employee-custom', certificateDetails.certificateId, 'view']">
                  {{ certificateDetails.pin }} - {{ certificateDetails.employeeName }}
                </a>
              </div>
            </dd>
          </div>
          <div class="col-md-2">
            <dt><span jhiTranslate="bitsHrPayrollApp.educationDetails.nameOfDegree">description</span></dt>
          </div>
          <div class="col-md-4">
            <dd>
              <span>{{ certificateDetails.description }}</span>
            </dd>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2">
            <dt><span jhiTranslate="bitsHrPayrollApp.educationDetails.subject">enrolled_roll</span></dt>
          </div>
          <div class="col-md-4">
            <dd>
              <span>{{ certificateDetails.enrolled_roll }}</span>
            </dd>
          </div>
          <div class="col-md-2">
            <dt><span jhiTranslate="bitsHrPayrollApp.educationDetails.institute">completion_date</span></dt>
          </div>
          <div class="col-md-4">
            <dd>
              <span>{{ certificateDetails.completion_date }}</span>
            </dd>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2">
            <dt><span jhiTranslate="bitsHrPayrollApp.educationDetails.yearOfDegreeCompletion">expiry_date</span></dt>
          </div>
          <div class="col-md-4">
            <dd>
              <span>{{ certificateDetails.expiry_date }}</span>
            </dd>
          </div>
        </div>
      </dl>

      <button (click)="previousState()" class="btn btn-info" type="submit">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button [routerLink]="['/certificate-details', certificateDetails.id, 'edit']" class="btn btn-primary" type="button">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>



